.greeting-wrapper {
  display: grid;
  text-align: center;
  align-items: center;
}

.greeting-wrapper h1 {
  overflow: hidden;
  border-right: 0.15em solid var(--mainText); /*the cursor*/
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; /*more steps will increase the smoothness*/
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--mainText);
  }
}
@media screen and (min-width: 1200px) {
    /*to make the animation responsive*/
    .greeting-wrapper {
        white-space: nowrap;
    }
  }