/*.right-column styles*/
.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding: 50px 0;
  }
  
  .preview-shadow {
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding: 30px 0 0 30px;
    position: relative;
  }
  
  .preview {
    border: 2px solid #17a2b8;
    background-color: var(--previewBg);
    width: 300px;
    padding: 15px;
    position: relative;
  }
  
  .corner {
    border-radius: 50%;
    border: 2px solid #17a2b8;
    height: 7px;
    width: 7px;
    background-color: var(--secondaryColor);
    /*position absolute to keep the dots fixed at the corners*/
    position: absolute;
  }
  
  #corner-tl {
    top: -5px;
    left: -5px;
  }
  #corner-tr {
    top: -5px;
    right: -5px;
  }
  #corner-bl {
    bottom: -5px;
    left: -5px;
  }
  #corner-br {
    bottom: -5px;
    right: -5px;
  }

  
@media screen and (max-width: 400px) {
  .preview-shadow {
    max-width: 280px;
    height: 180px;
    padding: 10px 0 0 10px;
  }
  .preview {
    width: 270px;
  }
}